.posts {
  width: 85%;
  max-width: 70rem;
  margin: var(--size-5) auto;
}

.posts h1 {
  font-size: 26px;
  color: var(--color-secondary);
  text-align: center;
  font-family: "PT Mono", monospace;
  font-weight: 600;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.featured {
  text-align: left !important;
}

.blogdesc {
  font-size: var(--size-4);
  color: var(--color-grey-200);
  width: 100%;
  text-align: center;
  max-width: 70rem;
  margin: auto;
  line-height: 34px;
  word-spacing: 2px;
  padding: 0 25px;
  text-align: justify;
}

@media (min-width: 768px) {
  .posts {
    margin: var(--size-8) auto;
    max-width: 75rem;
  }
  .posts h1 {
    font-size: var(--size-9);
    margin-bottom: 30px;
  }

  .blogdesc {
    font-size: var(--size-5);
  }
}
