.post {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--color-grey-800);
  text-align: center;
  border-radius: 6px;
  transition: background-color 0.3s ease-in-out;
}

.post:hover {
  background-color: #262626;
}

.post:hover + .image img {
  filter: brightness(1.1);
}

.post a {
  color: var(--color-grey-100);
}

.image {
  width: 100%;
  max-height: 20rem;
  overflow: hidden;
}

.image img {
  margin-top: 20px;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(1.1);
}

.content {
  padding: var(--size-4);
}

.content h3 {
  margin: var(--size-2) 0;
  font-size: var(--size-6);
}

.content time {
  font-style: italic;
  color: var(--color-grey-300);
}

.content p {
  line-height: var(--size-6);
}
