.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 15px 25px 15px 25px;
  background-color: var(--color-primary-2);
  color: white;
  border-bottom: 2px solid #2e2e2e;
  backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.left_navbar p a {
  font-size: 28px;
  font-family: "Sacramento", cursive;
  letter-spacing: 1.75px;
  font-weight: 500;
  color: #e8e8e8;
  cursor: pointer;
}

.right_navbar ul {
  display: none;
}

.right_navbar ul li {
  list-style-type: none;
  font-size: 16px;
  font-family: "PT Mono", monospace;
  font-weight: 900;
  color: #b4b4b4;
  letter-spacing: 2.5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.right_navbar ul li:hover {
  color: #e2e2e2;
}

.right_navbar ul li a {
  text-decoration: none;
  color: #b4b4b4;
  transition: all 0.3s ease;
  padding: 8px 12px;
  border-radius: 8px;
}

.right_navbar ul li a:hover {
  background-color: var(--color-grey-800a);
  color: #e2e2e2;
}

.right_navbar ul li a.active {
  transition: all 0.3s ease;
  /* padding: 8px 12px; */
  border-radius: 8px;
  background-color: var(--color-grey-800a);
  filter: brightness(1.12);
}

.menu {
  position: absolute;
  width: 32px;
  color: #e8e8e8;
  right: 25px;
}

.stickyMenu {
  position: sticky;
}

.menu_right_navbar {
  width: 100%;
  color: white;
  height: 300px;
  position: absolute;
  top: -20px;
  left: -10px;
}

.close_btn {
  position: absolute;
  z-index: 10;
  width: 32px;
  right: 0;
  top: -15px;
  border-radius: 50%;
  animation: showClose 0.4s ease-in forwards;
}

.menu_right_navbar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  animation: showMenu 0.4s ease-in forwards;
  gap: 35px;
}

.menu_right_navbar ul li {
  list-style-type: none;
  font-size: 16px;
  font-family: "PT Mono", monospace;
  font-weight: 800;
  /* font-family: "Rubik Glitch", cursive; */
  color: #b4b4b4;
  letter-spacing: 3.5px;
  cursor: pointer;
  transition: color 0.3s ease;
  text-align: right;
  margin-right: 20px;
  width: fit-content;
  background-color: #e2e2e2;
  border-radius: 4px;
  padding: 3px 8px;
  color: #191919;
}

.menu_right_navbar ul li:nth-child(2) {
  padding: 3px 8px;
}

.menu_right_navbar ul:first-child {
  margin-top: 65px;
}

.menu_right_navbar ul li:hover {
  /* color: #e2e2e2; */
}

.menu_right_navbar ul li a {
  text-decoration: none;
  color: #b4b4b4;
  transition: color 0.3s ease;
  color: #191919;
  padding: 10px 12px;
  border-radius: 80px;
}

.menu_right_navbar ul li a:hover {
  /* color: #e2e2e2; */
}

@media (min-width: 768px) {
  .header {
    padding: 20px 50px 15px 50px;
  }

  .right_navbar ul {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .menu {
    display: none;
  }

  .menu_right_navbar ul {
    display: none;
  }

  .close_btn {
    display: none;
  }
}

@keyframes showMenu {
  0% {
    transform: translatex(150px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes showClose {
  0% {
    opacity: 0.15;
  }

  100% {
    opacity: 1;
  }
}
