.project {
  padding: 0.4rem 0.8rem;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project img {
  /* max-width: 70rem; */
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  background-color: transparent;
  object-fit: cover;
}

.projDetails {
  max-width: 850px;
  margin: auto;
}

.project h2 {
  font-size: 24px;
  margin: var(--size-4) 0;
  color: var(--color-secondary);
  /* font-family: "Inconsolata", monospace; */
  /* font-family: "PT Mono", monospace; */
  letter-spacing: 2px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.project p {
  font-size: var(--size-4);
  color: var(--color-grey-200);
  /* font-family: "PT Mono", monospace; */
  width: 100%;
  text-align: center;
  max-width: 70rem;
  margin: auto;
  line-height: 34px;
  word-spacing: 2px;
  padding: 0 !important;
  text-align: justify;
}

.skills {
  display: flex;
  gap: 20px;
  flex-flow: wrap;
  list-style-type: none;
  margin: 20px 0;
  font-size: 17.5px;
  font-size: var(--size-4);
  color: var(--color-grey-200);
  filter: brightness(1.5);
  line-height: 10px;
}

.skills li {
  padding-bottom: 5px;
  border-bottom: 2px solid #5c5b5b51;
  transition: all 0.35s ease-in-out;
  /* font-family: "PT Mono", monospace; */
  font-size: 17.5px;
  font-size: var(--size-4);
  letter-spacing: 0.25px;
  filter: brightness(0.7);
}

.skills li:hover {
  /* border-bottom: 2px solid #fcfcfc; */
  filter: brightness(0.7);
}

.skills li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1.5px;
  background: #5c5b5b51;
  transition: all 0.3s ease;
  scale: 0 1;
}

.skills li:hover::after {
  background: #fcfcfc;
  scale: 1 1;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e1cacab5;
  padding: 8px 12px;
  border-radius: 20px;
  max-width: fit-content;
  background-color: #3e3e3e51;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  color: rgb(199, 199, 199);
  font-family: "Inconsolata", monospace;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.link:hover {
  background-color: #5c5b5b51;
  color: #fcfcfc;
}

.link a {
  color: rgb(199, 199, 199);
}

.link a:hover {
  color: #fcfcfc;
}

@media (min-width: 768px) {
  .project {
    min-height: 100vh;
  }

  .project h2 {
    font-size: var(--size-7);
  }

  .project p {
    font-size: var(--size-5);
    font-size: 18px;
  }

  .skills {
    flex-direction: row;
    font-size: var(--size-5);
  }

  .skills li {
    font-size: var(--size-5);
    padding-bottom: 5px;
    border-bottom: 2px solid #5c5b5b51;
  }

  .links {
    flex-direction: row;
    gap: 25px;
  }
}
