.project {
  padding: 0.4rem;
  border-radius: 8px;
  margin-bottom: 20px;
}

.project img {
  max-width: 70rem;
  height: auto;
  border-radius: 8px;
  border: 1px solid #cbcbcb7c;
}

.link {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid #e1cacab5;
  padding: 5px 8px;
  border-radius: 12px;
  max-width: fit-content;
  background-color: #3e3e3e51;
  cursor: pointer;
  transition: all 0.3s ease;
}

.link:hover {
  background-color: #5c5b5b51;
}

.link a {
  color: #fcfcfc;
}
