.content {
  width: 95%;
  max-width: 70rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  border-radius: 6px;
  padding: var(--size-4);
  transition: background-color 0.3s ease-in-out;
}

.content p {
  color: var(--color-secondary);
}

.content .image {
  margin: var(--size-4) auto;
  width: 80%;
  max-width: 600px;
}

.markdownContent {
  line-height: 36px;
}

.markdownContent p {
  font-size: 17px;
  letter-spacing: 0.25px;
  font-family: "Inconsolata", monospace;
}

.markdownContent h1 {
  font-family: "Inconsolata", monospace;
  letter-spacing: 1.5px;
  font-size: 33px;
  text-align: center;
  line-height: 40px;
}

.markdownContent h2 {
  font-size: 25px;
  font-family: "Inconsolata", monospace;
  /* font-weight: 400; */
  letter-spacing: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.markdownContent img {
  width: 100%;
  height: auto;
  /* padding: 10px 30px; */
  opacity: 0.85;
  border-radius: 6px;
  margin: 0 auto;
}

.markdownContent a {
  text-decoration: none;
  /* display: contents; */
  color: #b0b0b0;
  padding-bottom: 2px;
  border-bottom: 1.5px solid #c4c4c4;
  transition: color 0.1s ease;
  text-underline-position: below;
}

.markdownContent a:hover {
  color: #b778ea;
  border-bottom: 1.5px solid #b778ea;
  padding-bottom: 2px;
}

.markdownContent pre {
  padding: 20px 20px;
  background-color: #050505;
  border-radius: 5px;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 30px;
}

.markdownContent pre code {
  padding: 0;
  color: #4fb4d7;
}

.markdownContent code {
  background-color: #050505;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 4px;
  color: rgba(109, 248, 193, 0.75);
}

.markdownContent strong {
  letter-spacing: 1.5px;
  color: #d87878;
  font-weight: 600;
}

.markdownContent ul {
  margin: 20px 0;
}

.markdownContent ul li {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.markdownContent button {
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
}

.markdownContent button span::after {
  content: "Copy";
  font-size: 14px;
  margin-top: -10px;
  background-color: transparent;
  color: rgb(170, 170, 170);
  margin-right: 0px;
  letter-spacing: 0.25px;
  transition: color 0.05s ease-in-out;
  position: absolute;
  left: -25px;
}

.markdownContent button span:hover::after {
  color: rgb(216, 216, 216);
}

@media (min-width: 768px) {
  .content {
    width: 65%;
    padding: var(--size-8);
  }

  .markdownContent pre {
    padding: 20px 25px;
    background-color: #050505;
    border-radius: 5px;
    white-space: pre-wrap;
    font-size: 16px;
    line-height: 30px;
  }

  .markdownContent code {
    font-size: 15px;
  }

  .markdownContent h2 {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .markdownContent h1 {
    font-family: "Inconsolata", monospace;
    letter-spacing: 1.5px;
    font-size: 38px;
    text-align: center;
    line-height: 40px;
  }

  .markdownContent button span::after {
    margin-right: 20px;
  }
}
