.content {
  width: 75%;
  max-width: 70rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  border-radius: 6px;
  padding: var(--size-4);
  transition: background-color 0.3s ease-in-out;
}

.content p {
  color: var(--color-secondary);
}

.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
}

.markdownContent p {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.markdownContent img {
  width: 100%;
  height: auto;
  /* object-fit: contain; */
  padding: 10px 30px;
  opacity: 0.85;
}

.markdownContent pre {
  padding: 20px 25px;
  background-color: #000000;
  border-radius: 5px;
  white-space: pre-wrap;
}

.markdownContent button {
  background-color: transparent;
  border: 0;
  outline: none;
}

.markdownContent button span::after {
  content: "Copy";
  font-size: 14px;
  background-color: transparent;
  color: rgb(170, 170, 170);
  margin-right: 20px;
  letter-spacing: 0.25px;
}

.markdownContent button span:hover {
  color: rgb(148, 148, 148);
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
