.content {
  width: 75%;
  max-width: 70rem;
  margin: var(--size-8) auto;
  font-size: var(--size-5);
  line-height: var(--size-8);
  border-radius: 6px;
  padding: var(--size-4);
  transition: background-color 0.3s ease-in-out;
}

.content p {
  color: var(--color-secondary);
}

.content .image {
  margin: var(--size-4) auto;
  width: 100%;
  max-width: 600px;
}

.markdownContent p {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.markdownContent img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .content {
    padding: var(--size-8);
  }
}
