.contact {
  margin: var(--size-8) auto;
  border-radius: 6px;
  background-color: var(--color-grey-800);
  width: 90%;
  max-width: 55rem;
  line-height: 35px;
  padding: var(--size-8);
  -webkit-box-shadow: 6px 5px 12px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 5px 12px 0px rgba(0, 0, 0, 1);
  box-shadow: 6px 5px 12px 0px rgba(0, 0, 0, 1);
  font-size: var(--size-6);
  margin-top: 72px;
}

.contact h2 {
  margin: var(--size-4) 0 var(--size-2);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1.5px;
  font-size: 24px;
  margin-bottom: 25px;
  font-family: "Inconsolata", monospace;
  font-family: "PT Mono", monospace;
  font-weight: 600;
  letter-spacing: 2px;
}

.form label {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: var(--size-2) 0 var(--size-1) 0;
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: "PT Mono", monospace;
  letter-spacing: 2px;
  font-size: 17px;
  color: #fcfcfc9d;
}

.form input {
  font: inherit;
  padding: var(--size-1) var(--size-2) 4px;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color-grey-400);
  background-color: transparent;
  color: #fcfcfc;
  letter-spacing: 2px;
  font-weight: 500;
  resize: none;
  outline: none;
  font-size: 18px;
  font-family: "PT Mono", monospace;
}

.form textarea {
  font: inherit;
  padding: var(--size-1) var(--size-2);
  border-radius: 5px;
  width: 100%;
  border: none;
  background-color: #272727;
  color: #fcfcfc;
  letter-spacing: 1.2px;
  resize: none;
  outline: none;
  font-size: 18px;
  font-family: "PT Mono", monospace;
  /* margin-top: 10px; */
}

.controls {
  display: flex;
  column-gap: 2rem;
  flex-wrap: wrap;
}

.control {
  flex: 1;
  min-width: 10rem;
}

.actions {
  margin-top: var(--size-4);
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #272727;
  /* border: 1px solid var(--color-grey-750); */
  border: none;
  font-size: 18px;
  padding: var(--size-1) var(--size-4);
  border-radius: 4px;
  color: darkgray;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  box-shadow: 2px 2px 2px #ffffffb1;
  transition: box-shadow 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  /* margin-top: 10px; */
}

.form button:hover {
  background-color: #2d2d2d;
  /* border-color: var(--color-primary-2); */
  color: white;
  box-shadow: 2px 2px 2px #f58f29;
}

.star2 {
  display: none;
}

@media (min-width: 768px) {
  .contact h2 {
    font-size: var(--size-8);
    text-align: center;
  }
}
