.latest {
  width: 85%;
  max-width: 70rem;
  margin: var(--size-5) auto;
}

.latest h2 {
  font-size: 26px;
  color: var(--color-secondary);
  text-align: left;
  font-family: "PT Mono", monospace;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

.latest .text {
  font-size: var(--size-4);
  color: var(--color-grey-200);
  width: 100%;
  text-align: center;
  max-width: 70rem;
  line-height: 34px;
  word-spacing: 2px;
  padding: 0 !important;
  text-align: justify;
}

@media (min-width: 768px) {
  .latest {
    margin: var(--size-8) auto;
    max-width: 70rem;
  }
  .latest h2 {
    font-size: var(--size-9);
    margin-bottom: 30px;
  }

  .latest .text {
    font-size: var(--size-5);
  }
}
