.latest {
  width: 85%;
  max-width: 70rem;
  margin: var(--size-5) auto;
}

.latest h2 {
  font-size: var(--size-8);
  color: var(--color-secondary);
  text-align: center;
  font-family: "PT Mono", monospace;
  letter-spacing: 2px;
  margin-bottom: 35px;
}

@media (min-width: 768px) {
  .latest h2 {
    font-size: var(--size-9);
    margin-bottom: 30px;
  }

  .latest {
    margin: var(--size-8) auto;
    max-width: 75rem;
  }
}
